<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxd.orderfood.dao.OrderFoodInfoMapper">
<!--    boolean insertOrderFoodInfo(@Param("reservation") Integer reservation,@Param("list") List<Map> list);-->
    <insert id="insertOrderFoodInfo" parameterType="list">
        insert into orderfoodinfo (reservationno, foodno, count, price, remarks)
        values
        <foreach collection="list" item="pitem" separator=",">
            (#{reservationno},#{pitem.foodType}, #{pitem.foodCount}, #{pitem.price}, #{pitem.remarks})
        </foreach>
    </insert>
<!--    boolean delOrderFoodInfo(String reservationno);-->
    <delete id="delOrderFoodInfo">
        delete from orderfoodinfo where reservationno = #{reservationno}
    </delete>
<!--    boolean delOrderFoodInfo1(List<String> list);-->
    <delete id="delOrderFoodInfo1">
        delete from orderfoodinfo where reservationno in
        (
        <foreach collection="list" item="reservationno" separator=",">
            #{reservationno}
        </foreach>
        )
    </delete>
</mapper>
